<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chart.js </title>
    <script src='/static/js/Chart.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>
<body>
<h1 style="font-family: 'Dancing Script', cursive; font-weight: bold;">{{ g }} statement for <span style="color: green"> {{ name }} </span></h1><
<canvas id="chart" width="600" height="400"></canvas>
<script>
    var barData = {
        labels: [{% for item in labels %}
            "{{item}}",
        {% endfor %}],
        datasets: [
            {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data: [{% for item in values %}
                    {{item}},
                {% endfor %}]
            }
        ]
    }

    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");

    steps = 10
    max = {{ maximum }}
    // draw bar chart
    new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines: true,
        barShowStroke: true,
        scaleShowLabels: true
    });

</script>
</body>
</html>